# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.db

# Xcode / iOS
build/
DerivedData/
*.xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Swift Package Manager
.build/
.swiftpm/

# Python / Tests
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/
.env

# Drone test output files
